<ion-content>
  <main class="font-semibold flex min-h-screen flex-col items-center justify-center bg-white p-3">
  <div class="max-w-lg flex-col flex items-center justify-center">
    <div class="text-[#1C75BC] font-bold">
      <p>Get what you&apos;re entitled to</p>
      <p>Get connected</p>
      <p>Get on with things...</p>
    </div>
    <div class="flex flex-col sm:flex-row items-center p-2">
      <span class="flex-1 w-full max-w-sm">
        <img class="w-full" alt="GetOn logo" src={{GetOnLogo}}/>
      </span>
      <span class="mx-3 w-fit text-sm font-bold whitespace-nowrap">powered by</span>
      <a class="flex-1 w-10/12 max-w-sm" href="https://techforgoodsw.org.uk/">
        <img class="w-full my-2"
            alt="Tech4Good South West logo"
            src={{Tech4Good}} />
      </a>
    </div>
    <div class="text-sm">
      <details class="border border-black rounded-lg p-2 text-black">
        <summary class="cursor-pointer px-2 list-item">Limitations</summary>
        <div class="border-t border-black mt-2 p-2 pb-1">
        <p class="mb-2 text-black">
          GetOn is a work in progress - that means that while we
          expect the service to be useful <u>right now</u>, the
          information is currently presented at a fairly coarse
          level of detail. We hope to gradually increase
          the accuracy and helpfulness of the tool as time goes on.
        </p>
        <p class="mb-2 text-black">
          In particular, some of the benefit
          eligibility rules may be finer grained than we&apos;re able
          to display here, or we might have not yet drilled down
          far enough into the terms and conditions.
        </p>
        <p class="mb-2 text-black">
          The postcode search provides a broad filter based on
          region, but coverage is likely to vary within the region.
          In the future we would like to integrate with the
          providers&apos; postcode search as well.
        </p>
        <p class="mb-2 text-black">
          In the meantime please read the linked package
          information carefully, to make sure it matches
          what we&apos;ve said.
        </p>
        <p class="text-black">
          Here is a link to the
          <a href="https://docs.google.com/spreadsheets/d/1SqHtdJmKnxcvVesLHWeBl_KglYQihnpFzRRXutDy8bU/"
            class="text-blue-800 hover:text-blue-400 underline" >
            collated benefit eligibility data</a>
          used by GetOn.
        </p>
        </div>

      </details>
      <details class="border border-black rounded-lg p-2 text-black mt-2">
        <summary class="cursor-pointer px-2">Roadmap</summary>
        <div class="border-t border-black mt-2 p-2 pb-1">
          <ul>
            <li *ngFor="let item of roadmapItems">
              <div class="flex items-start gap-2">
                <div>☐</div>
                <div [innerHTML]="item"></div>
              </div>
            </li>
          </ul>
        </div>
      </details>
      <p class="my-2">
        If you meet any of the following criteria, you may
        be eligible for a discounted broadband package known
        as a social tariff:
      </p>
      <ul class="list-disc ps-4">
        <li *ngFor="let benefit of benefits">
          {{benefit}}
        </li>
      </ul>
      <p class="mt-2">
        The
        <a class="text-blue-800 hover:text-blue-400 underline"
           href="https://www.ofcom.org.uk/phones-telecoms-and-internet/advice-for-consumers/costs-and-billing/social-tariffs">
          Ofcom website</a>
        has a list of the social tariffs on offer from
        different internet service providers (ISPs).
      </p>
      <p class="mt-2">
        GetOn is here to help you navigate these offers. We&apos;ll
        show you only the ones available in your area, and which
        you&apos;re eligible for.
      </p>
    </div>
    <a [routerLink]="['/location']"
       class="mt-2 text-lg text-blue-800 underline hover:text-blue-400 w-7/12 max-w-[250px]">
      <img alt="Get Started" src={{GetStarted}} class="max-w-[250px] w-full"/>
    </a>
  </div>
</main>
</ion-content>
